body {
  margin: 0px;
  padding: 0px;
  color: var(--primary--color);
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: var(--light-gray);
}

* {
  box-sizing: border-box;
}
h5,
h4,
h3,
h2,
h1,
p {
  margin: 0px;
  padding: 0px;
}

.text-color-white {
  color: var(--text--primary--color);
}

.flex-dir-row {
  display: flex;
  flex-direction: row;
}

.flex-dir-col {
  display: flex;
  flex-direction: column;
}

.flex-align-right {
  margin: auto;
  margin-right: 0px;
}

.flex-gap-s {
  gap: 1rem;
}

.flex-gap-m {
  gap: 2rem;
}

.flex-gap-l {
  gap: 3rem;
}

.ui-link-basic-btn {
  text-decoration: none;
  background-color: var(--primary--color);
  color: var(--text--primary--color);
  border-radius: 20px;
  width: fit-content;
}

.text-decoration-none {
  text-decoration: none;
}

.left-margin-section {
  margin-left: 250px;
}

.display-visible {
  visibility: visible;
}

.display-hidden {
  visibility: hidden;
}

.code-snippet {
  height: 300px;
  width: 600px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

.bgc-blue {
  background-color: var(--primary--color);
}

.bgc-brown {
  background-color: var(--back-ground-color);
}

.text-color-white {
  color: var(--text--primary--color);
}

.heading-xl {
  font-size: 4.5rem;
}

.heading-lg {
  font-size: 4rem;
}

.heading-md {
  font-size: 3rem;
}

.heading-sm {
  font-size: 2rem;
}

.heading-xs {
  font-size: 1rem;
}

.text-xl {
  font-size: 3.5rem;
}

.text-lg {
  font-size: 3rem;
}

.text-md {
  font-size: 2.5rem;
}

.text-sm {
  font-size: 2rem;
}

.text-xs {
  font-size: 1rem;
}

.text-gray {
  color: var(--light-gray);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
