body {
  margin: 0px;
  padding: 0px;
  color: var(--primary--color);
}
* {
  box-sizing: border-box;
}
h4,
h3,
h2,
p {
  margin: 0px;
  padding: 0px;
}
.text-color-white {
  color: var(--text--primary--color);
}
.flex-dir-row {
  display: flex;
  flex-direction: row;
}
.flex-dir-col {
  display: flex;
  flex-direction: column;
}
.flex-align-right {
  margin: auto;
  margin-right: 0px;
}
.flex-gap-s {
  gap: 1rem;
}
.flex-gap-m {
  gap: 2rem;
}
.flex-gap-l {
  gap: 3rem;
}
.ui-link-basic-btn {
  text-decoration: none;
  background-color: var(--primary--color);
  color: var(--text--primary--color);
  border-radius: 20px;
  width: fit-content;
}
.text-decoration-none {
  text-decoration: none;
}
.left-margin-section {
  margin-left: 250px;
}
.display-visible {
  visibility: visible;
}
.display-hidden {
  visibility: hidden;
}
.code-snippet {
  flex-basis: 700px;
  height: 242px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
  z-index: -1;
}
