<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../css/style.css" />

    <title>Cache UI</title>
  </head>
  <body>
    <div class="ui-sideNav gutter-medium">
      <div class="ui-sideNav-header text-medium text-color-white">
        <span class="ui-sideNav-logo gutter-small">C</span>
        <span class="gutter-medium"
          ><a
            href="../../index.html"
            class="text-color-white text-decoration-none"
            >UI Docs</a
          ></span
        >
        <i
          class="fas fa-times-circle ui-sideNav-icon text-medium"
          aria-hidden="true"
          onClick="closeSideNav()"
        ></i>
      </div>
      <div class="ui-sideNav-items text-medium text-color-white gutter-medium">
        <div class="ui-sideNav-item"><h4>Getting Started</h4></div>
        <div class="ui-sideNav-item">
          <a
            href="../../src/usage.html"
            id="usage-link"
            class="text-color-white gutter-small text-decoration-none"
            >Usage</a
          >
        </div>
        <div class="ui-sideNav-item"><h4>Components</h4></div>
        <div class="ui-sideNav-item">
          <a
            href="./avatar.html"
            id="avatar-link"
            class="text-color-white gutter-small text-decoration-none"
            >Avatar</a
          >
        </div>
        <div class="ui-sideNav-item">
          <a
            href="./alert.html"
            id="alert-link"
            class="text-color-white gutter-small text-decoration-none"
            >Alert</a
          >
        </div>
        <div class="ui-sideNav-item">
          <a
            href="./badge.html"
            id="badge-link"
            class="text-color-white gutter-small text-decoration-none"
            >Badge</a
          >
        </div>
        <div class="ui-sideNav-item">
          <a
            href="./button.html"
            id="button-link"
            class="text-color-white gutter-small text-decoration-none"
            >Button</a
          >
        </div>
        <div class="ui-sideNav-item">
          <a
            href="./card.html"
            id="card-link"
            class="text-color-white gutter-small text-decoration-none"
            >Card</a
          >
        </div>
        <div class="ui-sideNav-item">
          <a
            href="./image.html"
            id="image-link"
            class="text-color-white gutter-small text-decoration-none"
            >Image</a
          >
        </div>
        <div class="ui-sideNav-item">
          <a
            href="./input.html"
            id="input-link"
            class="text-color-white gutter-small text-decoration-none"
            >Input</a
          >
        </div>
        <div class="ui-sideNav-item">
          <a href="#" class="text-color-white gutter-small text-decoration-none"
            >List</a
          >
        </div>
        <div class="ui__sideNav__item">
          <a href="#" class="text-color-white gutter-small text-decoration-none"
            >Navigation</a
          >
        </div>
        <div class="ui-sideNav-item">
          <a href="#" class="text-color-white gutter-small text-decoration-none"
            >Toast</a
          >
        </div>
      </div>
    </div>
    <div class="ui-container flex-col">
      <div
        class="ui-topNav flex-dir-row flex-gap-l heading-large gutter-medium"
      >
        <i
          class="fas fa-bars ui-menu-icon text-color-white"
          onclick="openSideNav()"
        ></i>
        <div class="ui-title text-color-white">Cache UI</div>
        <div class="ui-icons flex-align-right text-medium text-color-white">
          <i class="fab fa-github"></i>
          <span
            ><a
              href="https://github.com/SRUJANA-PENUGONDA13/component-library"
              target="_blank"
              class="text-color-white text-decoration-none"
              >Source Code</a
            ></span
          >
        </div>
      </div>
      <div class="ui-body left-margin-section">
        <section class="ui-component flex-dir-col">
          <div class="component-heading">
            <h3 class="text-large">Input</h3>
          </div>
          <div class="component-sub-heading text-medium"></div>
          <div class="component-body flex-dir-col"></div>
        </section>
      </div>
    </div>
    <script src="../../js/script.js"></script>
  </body>
</html>
