.circle {
  position: absolute;
  padding: 0.3rem;
  border-radius: 50%;
  border: 1px solid var(--secodary--color);
}
.badge {
  position: relative;
}
.badge-pos-top-left {
  top: -14px;
  left: -14px;
}
.badge-pos-top-right {
  top: -5px;
  right: -10px;
}
.badge-pos-bottom-right {
  bottom: -8px;
  right: -8px;
}
.badge-container {
  flex-wrap: wrap;
}
