.card-container {
  align-items: center;
}
.card {
  width: 18rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  box-shadow: 3px 1px 6px 1px rgb(0 0 0 / 20%);
  gap: 1rem;
  padding: 0.6rem;
}
.item-img {
  height: 100%;
  width: 100%;
}
.horizontal-card {
  flex-direction: row;
  width: 24rem;
}
.text-badge {
  font-size: 1.5rem;
  background-color: var(--badge-color);
  width: fit-content;
  padding: 0.6rem;
  color: var(--text--primary--color);
  position: absolute;
  top: 0px;
}
.cart-content {
  flex-direction: column;
}
.dismiss-btn {
  position: absolute;
  font-size: 1.5rem;
  right: 5px;
  top: 5px;
  color: black;
}
.overlay-text {
  position: absolute;
  font-size: 1.5rem;
  top: 6.5rem;
  left: 6rem;
  color: var(--primary--color);
}
.item-desc,
.item-name,
.prices {
  padding: 0.6rem;
}
.prices {
  font-size: 1.5rem;
}
.initial-price {
  opacity: 0.5;
  text-decoration: line-through;
}
.discount {
  color: var(--text-green);
}
.overlay-image {
  opacity: 0.3;
}
