.input-field {
  padding: 0.6rem;
  border: 2px solid var(--secondary--color);
  border-radius: 10px;
  width: min-content;
}
.highliter {
  border: 2px solid var(--border-danger);
}
.text-highliter {
  color: var(--text--danger);
}
