.nav-body {
  padding: 1rem;
  color: var(--text--primary--color);
  font-size: 1.5rem;
  background-color: var(--secondary--color);
}

.nav-left-sec {
  gap: 1rem;
}

.nav-right-sec {
  margin-left: auto;
  gap: 3.5rem;
}
