.snackbar-item {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.6rem;
  background-color: var(--primary--color);
  color: var(--text--primary--color);
}
.snackbar-item a {
  color: var(--text-violet);
  text-decoration: none;
}
